<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.edu.ttms.mapper.PlayMapper">
  <resultMap id="BaseResultMap" type="com.xupt.edu.ttms.pojo.Play">
    <id column="play_id" jdbcType="INTEGER" property="play_id" />
    <result column="play_type_id" jdbcType="INTEGER" property="play_type_id" />
    <result column="play_lang_id" jdbcType="INTEGER" property="play_lang_id" />
    <result column="play_name" jdbcType="VARCHAR" property="play_name" />
    <result column="play_introduction" jdbcType="VARCHAR" property="play_introduction" />
    <result column="play_image" jdbcType="VARCHAR" property="play_image" />
    <result column="play_length" jdbcType="INTEGER" property="play_length" />
    <result column="play_ticket_price" jdbcType="DECIMAL" property="play_ticket_price" />
    <result column="play_status" jdbcType="SMALLINT" property="play_status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    play_id, play_type_id, play_lang_id, play_name, play_introduction, play_image, play_length, 
    play_ticket_price, play_status
  </sql>
  <select id="selectByExample" parameterType="com.xupt.edu.ttms.pojo.PlayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from play
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from play
    where play_id = #{play_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from play
    where play_id = #{play_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="play_id" keyProperty="play_id" parameterType="com.xupt.edu.ttms.pojo.Play" useGeneratedKeys="true">
    insert into play (play_type_id, play_lang_id, play_name, 
      play_introduction, play_image, play_length, 
      play_ticket_price, play_status)
    values (#{play_type_id,jdbcType=INTEGER}, #{play_lang_id,jdbcType=INTEGER}, #{play_name,jdbcType=VARCHAR}, 
      #{play_introduction,jdbcType=VARCHAR}, #{play_image,jdbcType=VARCHAR}, #{play_length,jdbcType=INTEGER}, 
      #{play_ticket_price,jdbcType=DECIMAL}, #{play_status,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" keyColumn="play_id" keyProperty="play_id" parameterType="com.xupt.edu.ttms.pojo.Play" useGeneratedKeys="true">
    insert into play
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="play_type_id != null">
        play_type_id,
      </if>
      <if test="play_lang_id != null">
        play_lang_id,
      </if>
      <if test="play_name != null">
        play_name,
      </if>
      <if test="play_introduction != null">
        play_introduction,
      </if>
      <if test="play_image != null">
        play_image,
      </if>
      <if test="play_length != null">
        play_length,
      </if>
      <if test="play_ticket_price != null">
        play_ticket_price,
      </if>
      <if test="play_status != null">
        play_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="play_type_id != null">
        #{play_type_id,jdbcType=INTEGER},
      </if>
      <if test="play_lang_id != null">
        #{play_lang_id,jdbcType=INTEGER},
      </if>
      <if test="play_name != null">
        #{play_name,jdbcType=VARCHAR},
      </if>
      <if test="play_introduction != null">
        #{play_introduction,jdbcType=VARCHAR},
      </if>
      <if test="play_image != null">
        #{play_image,jdbcType=VARCHAR},
      </if>
      <if test="play_length != null">
        #{play_length,jdbcType=INTEGER},
      </if>
      <if test="play_ticket_price != null">
        #{play_ticket_price,jdbcType=DECIMAL},
      </if>
      <if test="play_status != null">
        #{play_status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xupt.edu.ttms.pojo.Play">
    update play
    <set>
      <if test="play_type_id != null">
        play_type_id = #{play_type_id,jdbcType=INTEGER},
      </if>
      <if test="play_lang_id != null">
        play_lang_id = #{play_lang_id,jdbcType=INTEGER},
      </if>
      <if test="play_name != null">
        play_name = #{play_name,jdbcType=VARCHAR},
      </if>
      <if test="play_introduction != null">
        play_introduction = #{play_introduction,jdbcType=VARCHAR},
      </if>
      <if test="play_image != null">
        play_image = #{play_image,jdbcType=VARCHAR},
      </if>
      <if test="play_length != null">
        play_length = #{play_length,jdbcType=INTEGER},
      </if>
      <if test="play_ticket_price != null">
        play_ticket_price = #{play_ticket_price,jdbcType=DECIMAL},
      </if>
      <if test="play_status != null">
        play_status = #{play_status,jdbcType=SMALLINT},
      </if>
    </set>
    where play_id = #{play_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xupt.edu.ttms.pojo.Play">
    update play
    set play_type_id = #{play_type_id,jdbcType=INTEGER},
      play_lang_id = #{play_lang_id,jdbcType=INTEGER},
      play_name = #{play_name,jdbcType=VARCHAR},
      play_introduction = #{play_introduction,jdbcType=VARCHAR},
      play_image = #{play_image,jdbcType=VARCHAR},
      play_length = #{play_length,jdbcType=INTEGER},
      play_ticket_price = #{play_ticket_price,jdbcType=DECIMAL},
      play_status = #{play_status,jdbcType=SMALLINT}
    where play_id = #{play_id,jdbcType=INTEGER}
  </update>
</mapper>